// ============ start variable============

$global-font-family: "din";
$mainColor: "#00ADF1";
$secondaryColor: "#1A1A1A";
$iconColor: "#292D32";
$textColor: "#202020";
$formIcon: "#876A8B";
$BlurInputBackgroundColor: "#F9F4F9";
$placeholderColor: "rgba(26, 26, 26, 0.4)";
$borderColor: "#C1CAD9";
$white: white;

// ============ end variable =============
